- if current_user?(micropost.user)
  &nbsp;&nbsp;
  = link_to 'delete',
            micropost,
            method: :delete,
            data: { confirm: 'Are you sure?' },
            title: micropost.content
